/* MEDIA QUERIES */
@media (max-width: 900px){
.medium-device-header{
    display: none;
}
.intro-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.right-section{
    margin-top: 10rem;
    text-align: center;
}
.headphone-div >img:last-child{
    position: relative;
    top:-350px;
    right:100px;
    height:450px; 
    z-index: 0;
}
.headphone-div >.discount{
    z-index: 1;
    position: relative;
    top:270px;
    right:300px;
    width:200px;
    height:150px;
}
.discount-content{
    position: relative;
    top:120px;
    right:300px;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: #fff;
    z-index:3;
}
.discount-content >h1{
    position: relative;
    top:-40px;
}
}
@media (min-width: 901px){
    .topnav{
        display: none;
    }
    .intro-section{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .headphone-div >img:last-child{
        position: relative;
        top:-350px;
        right:100px;
        height:450px; 
        z-index: 0;
    }
    .headphone-div >.discount{
        z-index: 1;
        position: relative;
        top:270px;
        right:190px;
        width:200px;
        height:150px;
    }
    .discount-content{
        position: relative;
        top:120px;
        right:130px;
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        color: #fff;
        z-index:3;
    }
    .discount-content >h1{
        position: relative;
        top:-40px;
    }
    }

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #FE5E35;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #FE5E35;
    color: white;
  }

nav{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.active-item{
    color: #FE5E35;
}
.nav-items{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 100px;
    max-width: 50%;
}
.nav-item{
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    margin: 10px 20px 10px 20px;
    font-weight: 100;
}

.left-section > h3{
    font-family: 'Poppins', sans-serif;
    font-size:33px;
    margin:20px 0 0 90px;
}
.left-section > h1{
    font-family: 'Poppins', sans-serif;
    font-size:63px;
    margin: 0 0 0 80px;
}
.sub-headline{
    margin:10px 0 0 90px;
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    font-weight: 50;
}
.sub-headline > img{
    background-color: #FE5E35;
    border-radius: 15px;
}
.text{
    font-family: 'Poppins', sans-serif;
    max-width: 70%;
    margin: 30px 0 0 90px;
    font-size: 14px;
}


.action-btn{
    background-color: #FE5E35;
    border-radius: 25px;
    border: 1px solid #FE5E35;
    color:#fff;
    font-size: 22px;
    padding:10px 40px 10px 40px;
}
.action-btns > .action-btn{
    position: relative;
    top:30px;
    /* left:80px; */
    /* margin-left:20px; */
}
.tomato-dot{
    color: #FE5E35;
    display: inline-block;
    font-size: 200px;
}
.yellow-dot{
    color: #FBD104;
    display: inline-block;
    font-size: 200px;
}
.black-dot{
    color: #000;
    display: inline-block;
    font-size: 200px;
}
.dots{
    position: absolute;
    top:375px;
    right:250px;

}
.right-section >:last-child{
    position: relative;
    top:-320px;
    /* left:40px; */
}